*{
    margin:0;
    padding: 0;
    font-family: Myriad Pro;
}

body{
    background-color:#f7f7f7;
}

#MainContainer{
    border-radius: 10px;
    border: solid 2px #3b3c3e;
    margin: 35px auto;
    width:400px;
    background-color: white;
}

#logo{
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

input {
    border-radius: 7px;
    border: solid 1px grey;
    font-size: 20px;
    padding: 10px;
    margin: 20px auto;
    height: 50px;
    width: 300px;
    display: block;

}

button{
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 7px;
    background-color:#3b3c3e;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: #88898b;
}

form{
    padding:30px 0;
    margin: 0 auto;
    width:300px;
}
